//Jayaweera W.A.H.M. Dinuka T Jayaweera
.Important{
    border-left: 2px solid red;
    padding-left:  4px;
}

.Normal{
    border-left: 2px solid green;
    padding-left:  4px;
}

.Not-Important{
    border-left: 2px solid yellow;
    padding-left:  4px;
}

.done{
    text-decoration: line-through;
}
